.App {
  height: 100vh;
  width: 100vw;
}

.modal {
  padding: 0 !important;
}

.fullScreenModal {
  width: 100vw !important;
  min-height: 100vh !important;
  max-width: none !important;
  margin: 0 !important;
}

.fullScreenModal .modal-content {
  width: 100%;
  min-height: 100vh;
  border: none !important;
  border-radius: 0% !important;
}